.gameDetails {
  background: white;
  cursor: auto;
  padding: 4rem 10rem;
  transition: all 0.5s ease;
  color: black;
  img {
    width: 100%;
  }
}

.gameDetails.dark {
  background: #1b1b1b;
  color: white;
  .platforms img {
    filter: invert(100%);
    transition: filter 0.5 ease;
  }
  .platforms img.steam {
    filter: invert(0%);
  }
}

.title {
  display: flex;
  justify-content: space-between;
  h3 {
    font-size: 1.3rem;
    padding: 1.5rem 0rem;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .platforms img {
    transition: filter 0.5 ease;
  }
}
.rating {
  img {
    width: 2rem;
  }
}

.platforms {
  text-align: center;
  img {
    width: 2rem;
    margin-right: 1rem;
  }
}

.bg_image {
  margin-top: 4rem;
}

.desc {
  margin: 5rem 0rem;
}

@media screen and (max-width: 800px) {
  .gameDetails {
    padding: 2rem 0rem;
  }
  .title {
    padding: 0rem 2rem;
  }
  .desc {
    padding: 0rem 2rem;
  }
  .rating img {
    width: 1.5rem;
  }
  .platforms img {
    width: 1.5rem;
  }
}
